on late-fs
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/scheduler noop
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

on boot
    # Touchscreen
    chown system system /sys/class/touch/tp_dev/gesture_on
    chown 0660 /sys/class/touch/tp_dev/gesture_on

    # Light HAL
    chown system system /sys/class/leds/wled/brightness
    chown system system /sys/class/leds/wled/max_brightness
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off

    chmod 0644 /sys/class/leds/wled/brightness
    chmod 0644 /sys/class/leds/wled/max_brightness
    chmod 0644 /sys/class/leds/red/breath
    chmod 0644 /sys/class/leds/red/brightness
    chmod 0644 /sys/class/leds/red/delay_on
    chmod 0644 /sys/class/leds/red/delay_off
    chmod 0644 /sys/class/leds/green/breath
    chmod 0644 /sys/class/leds/green/brightness
    chmod 0644 /sys/class/leds/green/delay_on
    chmod 0644 /sys/class/leds/green/delay_off
    chmod 0644 /sys/class/leds/blue/breath
    chmod 0644 /sys/class/leds/blue/brightness
    chmod 0644 /sys/class/leds/blue/delay_on
    chmod 0644 /sys/class/leds/blue/delay_off

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical


service cvphalservice /system/bin/true
    disabled

service vendor.power-hal-1-0 /system/bin/true
    disabled

service iop-hal-2-0 /system/bin/true
    disabled

service perf-hal-2-0 /system/bin/true
    disabled
